# Игнорировать файлы бинарных зависимостей NuGet
*.dll
*.exe

# Игнорировать папку bin и obj
bin/
obj/

# Игнорировать файлы конфигурации
*.suo
*.user
*.cache

# Игнорировать файлы развертывания
*.publishsettings

# Игнорировать каталоги, создаваемые Visual Studio для решения и проектов
.vscode/
.vs/